html, body, #wrapper {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0; }

h1 {
  font-family: 'Philosopher', serif;
  color: #1a2906; }

h2, p, li {
  font-family: 'Open Sans', serif; }

header {
  text-align: center;
  background-image: url(../img/bg-green.jpg);
  padding: 25px 0 30px;
  border-bottom: 1px solid #3b6720; }
  header img {
    width: 90px;
    height: auto; }
  header h1 {
    color: #e0e0e0;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px black;
    margin: 8px 0 0;
    font-size: 2.2em; }
  header h2 {
    color: #cee3bc;
    font-size: 1.1em;
    margin: 0; }
  header .phone {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #cee3bc; }
    header .phone p {
      line-height: .2em;
      font-size: 1em; }
      header .phone p:nth-of-type(2) {
        font-size: .75em; }
    header .phone div {
      display: inline-block; }
    header .phone img {
      position: relative;
      top: 5px;
      width: 40px;
      height: auto; }

nav {
  box-sizing: border-box;
  width: 100%;
  background-image: url(../img/bg-green.jpg);
  padding: 10px;
  border-bottom: 1px solid #3b6720; }
  nav a {
    text-decoration: none; }
  nav img {
    width: 45px;
    margin-right: 5px;
    height: auto;
    display: none; }
  nav h1 {
    color: #cee3bc;
    text-shadow: 1px 1px 1px #1a2906;
    position: relative;
    top: -8px;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    display: none; }
  nav ul {
    text-align: center;
    padding: 0;
    margin: 5px; }
    nav ul li {
      display: inline-block;
      margin: 0 2px; }
      @media (min-width: 768px) {
        nav ul li {
          margin: 0 15px; } }
      nav ul li a {
        color: #cee3bc;
        padding: 6px 10px; }
        nav ul li a:hover:not(.active) {
          color: #8cbd62; }
        nav ul li a.active {
          background-color: #3b6720;
          border-radius: 20px; }

.sticky {
  position: fixed;
  top: 0; }
  .sticky #logo {
    position: absolute;
    top: 7px;
    left: 15px; }
    .sticky #logo h1 {
      display: none; }
      @media (min-width: 768px) {
        .sticky #logo h1 {
          display: inline-block; }
          .sticky #logo h1:hover {
            color: #a7cc86; } }
    .sticky #logo img {
      display: inline-block; }

section {
  padding: 50px 10px; }

#fence {
  text-align: center;
  background: url(../img/fence.jpg);
  background-size: cover; }
  #fence h2 {
    text-transform: uppercase;
    color: #cacaca;
    text-shadow: 1px 1px 1px black; }
    #fence h2:first-of-type {
      margin-bottom: 25px;
      font-size: 2.5em;
      letter-spacing: 2px; }
      @media (min-width: 768px) {
        #fence h2:first-of-type {
          font-size: 3em; } }
    #fence h2:nth-of-type(2) {
      margin-top: 15px;
      font-size: 3.5em;
      letter-spacing: 4px; }
      @media (min-width: 768px) {
        #fence h2:nth-of-type(2) {
          font-size: 5em; } }
  #fence img {
    width: 98%;
    max-width: 1526px; }
    @media (min-width: 768px) {
      #fence img {
        width: 70%; } }

#about {
  text-align: center;
  margin-bottom: 45px; }
  #about-wrapper {
    max-width: 800px;
    margin: 0 auto; }
  #about h1 {
    font-size: 3.2em; }
  #about hr {
    width: 80px;
    border-width: 3px;
    border-color: #cee3bc;
    margin: 30px auto 50px; }
  #about p {
    font-size: 1.3em;
    line-height: 1.6em;
    margin: 0 auto; }
  #about a {
    font-size: 1.1em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #3b6720;
    border: 5px solid #cee3bc;
    padding: 10px 20px;
    border-radius: 10px;
    color: #e0e0e0;
    text-transform: uppercase; }
    #about a:hover {
      background-color: #2b4c18; }

#why {
  background-image: url(../img/why.jpeg);
  box-sizing: border-box;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  #why h1 {
    text-transform: uppercase;
    color: white; }
  #why h2 {
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px #cee3bc, 1px 1px 3px #cee3bc; }
  #why #benefit-wrapper {
    margin: 0 auto;
    max-width: 1300px;
    width: 95%;
    display: table;
    table-layout: fixed;
    border-spacing: 35px; }
  #why .benefit {
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
    box-sizing: border-box;
    padding: 10px;
    color: #e0e0e0;
    background-image: url(../img/bg-blck.png); }
    @media (min-width: 768px) {
      #why .benefit {
        width: 33.33%;
        display: table-cell;
        margin-bottom: 0;
        padding: 0px 25px 15px; } }
    #why .benefit hr {
      width: 80px;
      border-width: 2px;
      border-color: #3b6720;
      margin-top: -5px; }
  #why p {
    font-size: 1.1em;
    line-height: 1.25em; }

#grasses {
  background-image: url(../img/bg-ltgreen.jpg); }
  #grasses h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 2px;
    text-shadow: 0px 0px 1px #1a2906, 1px 1px 1px #1a2906, 1px 1px 2px #1a2906; }
  #grasses #seed-wrapper {
    margin: 0 auto;
    max-width: 1300px;
    width: 95%; }
    #grasses #seed-wrapper .seed {
      padding: 20px 10px;
      margin-bottom: 35px;
      background-image: url(../img/bg-white.png);
      overflow: hidden;
      box-sizing: border-box; }
      @media (min-width: 768px) {
        #grasses #seed-wrapper .seed {
          padding: 20px 40px; } }
      #grasses #seed-wrapper .seed-img {
        width: 360px;
        max-width: 100%;
        height: auto; }
      #grasses #seed-wrapper .seed .seed-img {
        display: block;
        margin: 0 auto; }
      @media (min-width: 768px) {
        #grasses #seed-wrapper .seed:nth-of-type(odd) .seed-img {
          float: left;
          margin-right: 30px; }
        #grasses #seed-wrapper .seed:nth-of-type(even) .seed-img {
          float: right;
          margin-left: 30px; } }
      #grasses #seed-wrapper .seed h1 {
        font-size: 2.2em;
        text-align: center; }
      #grasses #seed-wrapper .seed p {
        font-size: 1.2em; }
      #grasses #seed-wrapper .seed ul {
        list-style-type: none;
        display: table;
        border-collapse: separate;
        margin-top: 40px;
        padding: 0; }
        #grasses #seed-wrapper .seed ul li {
          text-align: center;
          font-size: 1em;
          width: 33.33%;
          display: table-cell;
          padding: 5px; }
          @media (min-width: 768px) {
            #grasses #seed-wrapper .seed ul li {
              padding: 20px; } }
          #grasses #seed-wrapper .seed ul li:not(:last-of-type) {
            border-right: 2px solid #cee3bc; }
          #grasses #seed-wrapper .seed ul li img {
            width: 70px;
            height: auto;
            padding: 5px; }
  #grasses hr {
    width: 80%;
    border-color: #e0f2cf;
    border-width: 1px;
    margin: 0px auto 20px; }

#contact {
  padding-bottom: 100px;
  text-align: center;
  background-image: url(../img/grass.png);
  background-size: 768px 28px;
  background-repeat: no-repeat;
  background-position: bottom center; }
  @media (min-width: 768px) {
    #contact {
      background-size: contain; } }
  #contact h1 {
    font-size: 2.2em; }
  #contact h2 {
    margin: 5px; }
  #contact .wtxl-phone {
    position: relative;
    top: 30px; }
  #contact #truck {
    margin-bottom: 40px; }
    #contact #truck img {
      width: 500px;
      max-width: 100%;
      height: auto; }
  #contact .phone {
    color: #1a2906; }
    #contact .phone p {
      line-height: .2em;
      font-size: 2.3em; }
      #contact .phone p:nth-of-type(2) {
        font-size: 1.7em; }
    #contact .phone div {
      display: inline-block; }
    #contact .phone img {
      position: relative;
      top: 15px;
      width: 100px;
      height: auto; }

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 1s normal forwards ease-in 1;
  -moz-animation: fadeIn 1s normal forwards ease-in 1;
  animation: fadeIn 1s normal forwards ease-in 1; }

.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.three {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s; }

.fade-out {
  opacity: 1;
  -webkit-animation: fadeIn 1s reverse forwards ease-out 1;
  -webkit-animation: fadeIn 1s reverse forwards ease-out 1;
  -moz-animation: fadeIn 1s reverse forwards ease-out 1;
  animation: fadeIn 1s reverse forwards ease-out 1; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media (min-width: 768px) {
  .nowrap {
    white-space: nowrap; } }

/*# sourceMappingURL=styles.css.map */
