
$med: 768px;

$off-white: #e0e0e0;
$grey-light: #cacaca;
$grey-dark: #2c2c2c;
$green-dark: #1a2906;
$green: #3b6720;
$green-light: #cee3bc;
$green-lighter: #e0f2cf;

html, body, #wrapper {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Philosopher', serif;
  color: $green-dark;
}

h2, p, li {
  font-family: 'Open Sans', serif;
}

header {
  text-align: center;
  background-image:url(../img/bg-green.jpg);
  padding: 25px 0 30px;
  border-bottom: 1px solid $green;

  img {
    width: 90px;
    height: auto;
  }

  h1 {
    color: $off-white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px black;
    margin: 8px 0 0;
    font-size: 2.2em;
  }

  h2 {
    color: $green-light;
    //font-family: 'Open Sans', serif;
    font-size: 1.1em;
    margin: 0;
  }

  .phone {
    position: absolute;
    right: 10px;
    top: 5px;
    color: $green-light;

    p {
      line-height: .2em;
      font-size: 1em;

      &:nth-of-type(2) {
        font-size: .75em;
      }
    }

    div {
      display: inline-block;
    }

    img {
      position: relative;
      top: 5px;
      width: 40px;
      height: auto;
    }
  }
}

nav {
  box-sizing: border-box;
  width: 100%;
  background-image:url(../img/bg-green.jpg);
  padding: 10px;
  border-bottom: 1px solid $green;
  z-index: 2;

  a {
    text-decoration: none;
  }

  img {
    width: 45px;
    margin-right: 5px;
    height: auto;
    display: none;
  }

  h1 {
    color: $green-light;
    text-shadow: 1px 1px 1px $green-dark;
    position: relative;
    top: -8px;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    display: none;
  }

  ul {
    text-align: center;
    padding: 0;
    margin: 5px;

    li {
      display: inline-block;
      margin: 0 2px;

      @media (min-width: $med) {
        margin: 0 15px;
      }

      a {
        color: $green-light;
        padding: 6px 10px;

        &:hover:not(.active) {
          color: darken($green-light, 25%);
        }

        &.active {
          background-color: $green;
          border-radius: 20px;
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;

  #logo {
    position: absolute;
    top: 7px;
    left: 15px;

    h1 {
      display: none;

      @media (min-width: $med) {
        display: inline-block;

        &:hover {
          color: darken($green-light, 15%);
        }
      }
    }

    img {
      display: inline-block;
    }
  }
}

section {
  padding: 50px 10px;
}

#fence {
  text-align: center;
  background: url(../img/fence.jpg);
  background-size: cover;

  h2 {
    text-transform: uppercase;
    color: $grey-light;
    text-shadow: 1px 1px 1px black;

    &:first-of-type {
      margin-bottom: 25px;
      font-size: 2.5em;
      letter-spacing: 2px;
      @media (min-width: $med) {
        font-size: 3em;
      }
    }

    &:nth-of-type(2) {
      margin-top: 15px;
      font-size: 3.5em;
      letter-spacing: 4px;
      @media (min-width: $med) {
        font-size: 5em;
      }
    }
  }

  img {
    width: 98%;
    max-width: 1526px;
    @media (min-width: $med) {
      width: 70%;
    }
  }
}

#about {
  text-align: center;
  margin-bottom: 45px;

  &-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  h1 {
    font-size: 3.2em;
  }

  hr {
    width: 80px;
    border-width: 3px;
    border-color: $green-light;
    margin: 30px auto 50px;
  }

  p {
    font-size: 1.3em;
    line-height: 1.6em;
    margin: 0 auto;
  }

  a {
    font-size: 1.1em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: $green;
    border: 5px solid $green-light;
    padding: 10px 20px;
    border-radius: 10px;
    color: $off-white;
    text-transform: uppercase;

    &:hover {
      background-color:darken($green, 7%);
    }
  }
}

#why {
  background-image:url(../img/why.jpeg);
  box-sizing: border-box;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  h1 {
    text-transform: uppercase;
    color: white;
  }

  h2 {
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 3px $green-light, 1px 1px 3px $green-light;
  }

  #benefit-wrapper {
    margin: 0 auto;
    max-width: 1300px;
    width: 95%;
    display: table;
    table-layout: fixed;
    border-spacing: 35px;
  }

  div[class^="benefit"] {
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
    box-sizing: border-box;
    padding: 10px;
    color: $off-white;
    background-image: url(../img/bg-blck.png);

    @media (min-width: $med) {
      width: 33.33%;
      display: table-cell;
      margin-bottom: 0;
      padding: 0px 25px 15px;
    }

    &.a1 {
      -webkit-animation-delay: 0.7s;
      -moz-animation-delay: 0.7s;
      animation-delay: 0.7s;
    }

    &.a2 {
      -webkit-animation-delay: 1.2s;
      -moz-animation-delay: 1.2s;
      animation-delay: 1.2s;
    }

    &.a3 {
      -webkit-animation-delay: 1.7s;
      -moz-animation-delay: 1.7s;
      animation-delay: 1.7s;
    }

    hr {
      width: 80px;
      border-width: 2px;
      border-color: $green;
      margin-top: -5px;
    }

    p {
      font-size: 1.1em;
      line-height: 1.25em;
    }
  }
}

#grasses {
  background-image: url(../img/bg-ltgreen.jpg);

  h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2.2em;
    letter-spacing: 2px;
    text-shadow: 0px 0px 1px $green-dark, 1px 1px 1px $green-dark, 1px 1px 2px $green-dark;
  }

  #seed-wrapper {
    margin: 0 auto;
    max-width: 1300px;
    width: 95%;

    .seed {
      padding: 20px 10px;
      margin-bottom: 35px;
      background-image:url(../img/bg-white.png);
      overflow: hidden;
      box-sizing: border-box;

      @media (min-width: $med) {
        padding: 20px 40px;
      }

      &-img {
        width: 360px;
        max-width: 100%;
        height: auto;
      }

      .seed-img {
        display: block;
        margin: 0 auto;
      }

      @media (min-width: $med) {
        &:nth-of-type(odd) .seed-img {
          float: left;
          margin-right: 30px;
        }

        &:nth-of-type(even) .seed-img {
          float: right;
          margin-left: 30px;
        }
      }

      h1 {
        font-size: 2.2em;
        text-align: center;
      }

      p {
        font-size: 1.2em;
      }

      ul {
        list-style-type: none;
        display: table;
        border-collapse: separate;
        //border-spacing: 50px 0;
        margin-top: 40px;
        padding: 0;

        li {
          text-align: center;
          font-size: 1em;
          width: 33.33%;
          display: table-cell;
          padding: 5px;

          @media (min-width: $med) {
            padding: 20px;
          }

          &:not(:last-of-type) {
            border-right: 2px solid $green-light;
          }

          img {
            width: 70px;
            height: auto;
            padding: 5px;
          }
        }
      }
    }
  }

  hr {
    width: 80%;
    border-color: $green-lighter;
    border-width: 1px;
    margin: 0px auto 20px;
  }
}

#contact {
  padding-bottom: 100px;
  text-align: center;
  background-image: url(../img/grass.png);
  background-size: 768px 28px;
  background-repeat: no-repeat;
  background-position: bottom center;

  @media (min-width: $med) {
    background-size: contain;
  }

  h1 {
    font-size: 2.2em;
  }

  h2 {
    margin: 5px;
  }

  .wtxl-phone {
    position: relative;
    top: 30px;
  }

  #truck {
    margin-bottom: 40px;

    img {
      width: 500px;
      max-width: 100%;
      height: auto;
    }
  }

  .phone {
    color: $green-dark;

    p {
      line-height: .2em;
      font-size: 2.3em;

      &:nth-of-type(2) {
        font-size: 1.7em;
      }
    }

    div {
      display: inline-block;
    }

    img {
      position: relative;
      top: 15px;
      width: 100px;
      height: auto;
    }
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 1s normal forwards ease-in 1;
  -moz-animation: fadeIn 1s normal forwards ease-in 1;
  animation: fadeIn 1s normal forwards ease-in 1;
}

.fade-out {
  opacity: 1;
  -webkit-animation: fadeIn 1s reverse forwards ease-out 1;
  -webkit-animation: fadeIn 1s reverse forwards ease-out 1;
  -moz-animation: fadeIn 1s reverse forwards ease-out 1;
  animation: fadeIn 1s reverse forwards ease-out 1;
}

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

@media (min-width: $med) {
  .nowrap {
    white-space: nowrap;
  }
}
